
 
 

page-home {
    .bt3{
        margin-bottom: 30%;
    }
    .bt1{
        margin-top: 30%;
    }
      .bt{
         
             background-color: transparent;
         
         }
            .bg{
         background-image: url('../assets/frontpage.png');
     background-size: cover;
        
        }

        .continue
        {
            margin-top: 30%;
            display:inline-block; //Typically a button wouldn't need its own line        
            margin:0 auto;
            background-color: transparent;
            text-align: center;
        }
    
    }